body {


}
form {
    position: relative;
    height: 100vh;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}
.containerLog {
    position: absolute;
    bottom: 100px;
    width: 0%; 
}
.menu {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%; /* Ensures the menu spans the entire width */
}

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .menu ul li {
            padding: 10px 20px;
        }

            .menu ul li a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

.auth-links a {
    background-color: #4CAF50;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

    .auth-links a:hover {
        background-color: #45a049;
    }
.is-invalid {
    border-color: #dc3545;
}
form table {
    border-collapse: collapse; /* Merge cell borders */
    width: 100%; /* Set the table width */
}

form th, form td {
    border: 1px solid #ddd; /* Add border to table header and table data cells */
    padding: 8px; /* Add some padding for cell content */
    text-align: left; /* Align text to the left */
}
a.edit-link {
    color: blue; /* Change the color of the "Edit" link to blue */
}

a.delete-link {
    color: red; /* Change the color of the "Delete" link to red */
}
form tr {
    border-bottom: 1px solid #ddd; /* Add border to the bottom of each row */
}

form th {
    background-color: #f2f2f2; /* Background color for table header */
}

